.btn {
	padding: $spacer-xs $spacer-sm;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 0px;
}


.btn-default  {
	border-color: $brand-color;
	background-color:$brand-color;
	color: $text-light;
}

a.btn.btn-default {
	color: $text-light;
}

.btn-lg {
    padding: 6px 10px;
    text-transform: uppercase;
    border-radius: 0;
    margin: 5px;
    min-width: 175px;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
}

.pagenavi-hold {
	color:$brand-color;
	font-size: 14px;
	margin-top: 1.5rem;

	& span {
		padding:5px 15px;
	}

	:hover {
		color:$brand-color;
		text-decoration: none;
		opacity: 0.8;

	}

}
