
@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/*
	https://atomiks.github.io/30-seconds-of-css/
<div class="bouncing-loader">
  <div></div>
  <div></div>
  <div></div>
</div>
*/

.flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
<div class="flexbox-centering">
  <div class="child">Centered content.</div>
</div>
*/

.grid-centering {
  display: grid;
  justify-content: center;
  align-items: center;
}

/*
<div class="grid-centering">
  <div class="child">Centered content.</div>
</div>
*/

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// <p class="hover-underline-animation">Hover this text to see the effect!</p>

.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

.clearfix {
    zoom: 1;
    clear: both;
    width: 100%;
    display: block;
}

hr.gold-full {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 6px solid #bf9b67;
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #bf9b67;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: .5em 0;
    font-weight: 400;
}



.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h1 {
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    background-color: transparent;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.overlay .btn-default {
	background-color: #fff;
	color: #bf9b67 !important;
}

.row-heights-m{
	margin-top: 40px;
}

.page-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 30px;
    border-bottom: 4px solid #bf9b67;
    position: absolute;
    left: 0;
}

.quater-w {

  	width: 100px;
    border-top: 6px solid #bf9b67;
}

.p-b-0 {
	padding-bottom:0;
}

.p-t-0 {
	padding-top:0;
}

.m-b-0 {
	margin-bottom:0;
}

.m-t-0 {
	margin-top:0;
}

.hidden {
	display: none;
}

.modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
}

.modal-body {
    padding: 0.5rem;
}

.modal-content {
    border-radius: 1px;
}

.arrow_next, .arrow_prev {
    top: 45%;
}

.caption-slider {
    margin-top: -55px;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: right;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
}

.modal .arrow_next {
	right: -10%;
}

.modal .arrow_prev {
	left: -10%;
}

.padd-0 {
	padding: 0;
}

.hovereffect {
    z-index: 10;
}


/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    }
}



@include media-breakpoint-up(lg){

	.scroll-down {
    position: relative;
    bottom: 120px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
//     left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}

	/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


	}


.row.no-m {
	margin:0px !important;
}


.custom-negative {
	margin-top: -2rem;
}
.title_hold {

	font-weight: bold;
}

.zoom {
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

    .zoom p {
        position: absolute;
        top: 3px;
        right: 28px;
        color: #555;
        font: bold 13px/1 sans-serif;
    }

    /* magnifying glass icon */
    .zoom:after {
        content: '';
        display: block;
        width: 33px;
        height: 33px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.3;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAMAAABgOjJdAAAAOVBMVEUAAAD///8AAAAAAAAVFRUpKSk8PDxPT09gYGBxcXGCgoKSkpKwsLC+vr7MzMzZ2dnm5ubz8/P///+LgQr7AAAAE3RSTlMAAFSGiYyOkZSXmp2ipairrbCz61ViJgAAAJ9JREFUeF6tz70Og0AMA2CfgaPl987v/7AFlqgemqWWsn2OZJRSOPzKLcBUgKlwUuf6LYzUJqlVEwgydfXjumoiyKZzHMZTm4kgTXe7qpsI0h8xSSaC7M//TbuJILN0rIf0chHkrSfnGMLJtKzLq1/EhI2uD3HhZHfhpK0mnNgWI4kAUwGmAkwFmAowFWAqwFSAqQBTAaYCTAWIkuUf4gNsjQljXxt9tgAAAABJRU5ErkJggg==') /*icon.png*/;
    }

    .zoom img {
        display: block;
    }

        .zoom img::selection {
            background-color: transparent;
        }


div#imgShown, img, canvas {
    display: block;
    max-width: 100%;
    height: auto;
}