// Search form
.search-form {
}

.search-form label {
	font-weight:400;
}

.search-form .search-field {
}

.search-form .search-submit {
}

footer .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	padding:0 4px;
	font-size:11px;
	min-height:30px;
}

footer .gform_wrapper form.gf_simple_horizontal div.gform_body ul.top_label li.gfield {
	padding-right:3px;
}

#gform_submit_button_3 {
	background-color:$brand-color;
	border-color:$brand-color;
	color:#fff;
	min-height:30px;
	text-transform:uppercase;
}

.form-body {
}

.form-body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	font-size:inherit;
	font-family:inherit;
	padding:5px 4px;
	letter-spacing:normal;
	min-width:300px;
	min-height:40px;
	background-color:#E8E8E8;
	border:none;
	font-size:13px;
}

.form-body #gform_submit_button_3 {
	background-color:#bf9b67;
	border-color:#bf9b67;
	color:#fff;
	min-height:40px;
	padding:0 20px;
	text-transform:uppercase;
}

footer .gform_wrapper .gform_footer input.button,.gform_wrapper .gform_footer input[type=submit] {
	margin:0;
}

.gform_wrapper form.gf_simple_horizontal {
	width:calc(100% - 0px);
	margin:0 auto;
}

footer form#gform_3 {
	margin-left:0;
}

.form-hold {
	margin-top:50px;
}

.form-hold .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	font-family:inherit;
	padding:5px 15px;
	letter-spacing:normal;
	min-width:300px;
	min-height:50px;
	background-color:#e8e8e8;
	border:none;
	font-size:13px;
	margin-top:-15px;
	color:#757575;
}

.form-body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	font-size:inherit;
	font-family:inherit;
	padding:5px 4px;
	letter-spacing:normal;
	min-width:305px;
	min-height:40px;
	background-color:#e8e8e8;
	border:none;
	font-size:13px;
}

.form-hold textarea#input_2_6 {
	padding:10px 15px;
	letter-spacing:normal;
	min-width:300px;
	min-height:40px;
	background-color:#e8e8e8;
	border:none;
	font-size:13px;
	height:80px;
}

.form-hold #gform_submit_button_2 {
	background-color:#bf9b67;
	border-color:#bf9b67;
	color:#fff;
	min-height:40px;
	padding:0 35px;
	text-transform:uppercase;
}

.gform_wrapper ul.gform_fields li.gfield {
	margin-top:0;
}

.gform_wrapper .gform_footer {
	padding:16px 0 10px;
	margin:0;
	clear:both;
	width:100%;
	display:inline-block;
}

.form-hold .gform_wrapper ul.gform_fields li.gfield {
	padding-right:0;
}

.form-hold #gform_submit_button_2 {
	float:right;
	margin-right:0;
}

.form-hold .gform_wrapper .gform_footer {
	padding:0;
	margin:10px 0 0;
	clear:both;
	width:100%;
}

.modal .gform_wrapper .top_label .gfield_label {
	display:none!important;
}

.modal-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	width:100%;
}

.form-hold #gform_submit_button_4 {
	background-color:#bf9b67;
	border-color:#bf9b67;
	color:#fff;
	min-height:40px;
	padding:0 35px;
	text-transform:uppercase;
	float:right;
}

.modal .ginput_container {
	margin:20px 10px;
}