body {
	font-family:$font-stack;
	-webkit-font-smoothing:antialiased;
}

body.open {
	overflow:hidden;
/*
	overflow-x:hidden;
	position: fixed;
*/
}

h1,h2,h4 {
	color:$brand-color;
	font-weight:200;
}

.h1,h1 {
	font-size:2.5rem;
}

h1 span {
	font-weight:600;
}

h3 {
	font-size:1.2rem;
	color:$brand-color;
	font-weight:600;
}

.main {
	padding-left:0!important;
	padding-right:0!important;
}

#home-intro {
	//height:60vh;
}

#home-about {
	height:50vh;
	background-color:#000;
	color:$brand-color;
}

#home-media {
	//height:85vh;
}

.features {
	color:$text-light;
	font-size:13px;
}

.features li {
	padding:6px 0;
}

.spacer-t-xl {
	padding-top:$spacer-lg;
}

.spacer-t-l {
	padding:$spacer-md 0;
}

.d-block.mx-auto.form-body {
	//margin-top:$spacer-md;
	margin-top:25px;
	margin-left:-14px!important;
}

a.nav-link:hover {
	color:#bf9b67;
}

.slick-next {
	right:80px!important;
}

.slick-prev {
	left:80px!important;
	z-index:10000;
}

.arrow_next {
	background-image:url(http://mustard.studio/avalonweb/wp-content/uploads/2018/06/right-chevron.svg);
	cursor:pointer;
	width:50px;
	height:40px;
	background-size:contain;
	background-repeat:no-repeat;
	right:3%;
	position:absolute;
	top:40%;
	z-index:1;
}

.arrow_prev {
	background-image:url(http://mustard.studio/avalonweb/wp-content/uploads/2018/06/left-chevron.svg);
	width:50px;
	height:40px;
	background-size:contain;
	background-repeat:no-repeat;
	left:3%;
	top:40%;
	cursor:pointer;
	position:absolute;
	z-index:1;
}

.arrow_next_gal {
	background-image:url(http://mustard.studio/avalonweb/wp-content/uploads/2018/06/right.png);
	cursor:pointer;
	width:50px;
	height:40px;
	background-size:contain;
	background-repeat:no-repeat;
	right:3%;
	position:absolute;
	top:40%;
	z-index:1;
}

.arrow_prev_gal {
	background-image:url(http://mustard.studio/avalonweb/wp-content/uploads/2018/06/left.png);
	width:50px;
	height:40px;
	background-size:contain;
	background-repeat:no-repeat;
	left:3%;
	top:40%;
	cursor:pointer;
	position:absolute;
	z-index:1;
}

.item .img-fluid {
	min-width:100%;
}

.page-id-9 .slick-initialized .slick-slide {
	display:block;
	max-height:600px;
	//max-height:550px;
}

.map-responsive {
	overflow:hidden;
	position:relative;
	height:100vh;
}

.map-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

section.contact {
	padding:0;
}

footer a {
	color:#fff;
}

a {
	color:$brand-color;
}

.selector a:hover {
	color:$brand-color;
	text-decoration:none;
	opacity:.7;
}

.overflow-border-tax {
	border-bottom:6px solid #bf9b67!important;
}

.overflow-border-tax {
	padding-top:1rem;
	border-bottom:6px solid #bf9b67;
	margin-left:-60px;
	display:inline-block;
	padding-right:5rem;
	padding-bottom:1rem;
}

.gold-text {
	color:#bf9b67;
}

.negative-space {
	margin-left:6rem;
}

.selector {
	padding:3px 0;
}

.gold-text {
	color:#bf9b67;
}

strong {
	color:#bf9b67;
}

.dark {
	color:#000;
}

.row-heights-m {
	margin-top:3.2rem;
}

.overflow-border-tax h1 span,h3 {
	font-size:14px;
	clear:both;
	display:block;
	padding-top:10px;
	font-weight:300;
}

h1.negative-space {
	font-size:2rem;
	margin-bottom:0;
	font-weight:300;
	text-transform:uppercase;
}

.sold {
	color:red;
	font-weight:700;
}

table td,.table th {
	border-top:none!important;
	padding:.3rem 0!important;
	width:20%;
}

tr.clickable-row {
	cursor:pointer!important;
}

tr.clickable-row:hover {
	color:$brand-color!important;
}

.alignleft {
	float:left;
	font-size:13px;
}

.alignright {
	float:right;
	font-size:13px;
}

div#textbox {
	display:inline-block;
}

.single .modal-content {
	width:50%;
	margin:0 auto;
}

.border-dashed {
	border-left:1px dashed #000;
	border-right:1px dashed #000;
}

.modal-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	width:100%;
}

.form-hold #gform_submit_button_4 {
	background-color:#bf9b67;
	border-color:#bf9b67;
	color:#fff;
	min-height:40px;
	padding:0 35px;
	text-transform:uppercase;
	float:right;
}

.modal .ginput_container {
	margin:20px 10px;
}

.modal .gform_wrapper .top_label .gfield_label {
	display:none!important;
}

.embed-container {
	position:relative;
	padding-bottom:30%;
	height:0;
	overflow:hidden;
	max-width:100%;
}

.embed-container iframe,.embed-container object,.embed-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.alignleft {
	float:left;
	font-size:13px;
}

.alignright {
	float:right;
	font-size:13px;
}

div#textbox {
	display:inline-block;
}

.single .modal-content {
	width:50%;
	margin:0 auto;
}

.border-dashed {
	border-left:1px dashed #000;
	border-right:1px dashed #000;
}