@media only screen
and (min-device-width : 1441px)
and (max-device-width : 1920px) {

	.intro-excerpt {
	    margin-top: -5%;
	}


	.overflow-border-tax h1 span, h3 {
	    font-size: 19px;
	}

}

@media only screen
and (min-device-width : 1279px)
and (max-device-width : 1441px) {
	.intro-excerpt {
	    margin-top: -8%;
	}

	.form-hold .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    min-height: 40px;
	}

	body .gform_wrapper .top_label div.ginput_container {
	    margin-top: 0px;
	}

	.gform_wrapper ul.gform_fields li.gfield {
	    margin-top: -10px;
	}

	section.contact .spacer-right {
	    padding: 25px 50px;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

header .overlay-content {
   top: 20%;
}

header .overlay li a {
    font-size: 3rem;
}

header .overlay .active .nav-link {
    font-size: 3rem;
}

	.spacer-sm-m {
	    margin: 15px 0 0;

	}


	.header-menu li {
	    margin-bottom: 0px;
	}


	.nav-link, .nav-link:hover {
	    padding: 29px 0px;
		font-size: 12px;
        margin: -4px 5px;
	}

	.active .nav-link {
	    padding: 29px 0px;
		font-size: 12px;
        margin: -4px 5px;
	}

	header.banner {
	    height: 92px;
	}

	.modal-dialog {
	    max-width: 95%;
	    margin: 1.75rem auto;
	}


	.form-body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    min-width: 165px;
	}

	.arrow_prev {
	    left: 0;
	}

	.arrow_prev {
	    left: 0;
	}

	.arrow_next {
	    right: 0;
	}

	.spacer-hack {
	    /* margin-left: 75px; */
	}

	div#gform_wrapper_3 {
	    display: inline-block;
	}


	.spacer-hack {
	    margin-left: unset;
	    padding-left: 0;
	}

	.padd-0 {
		padding: unset;
	}

	.d-block.mx-auto.form-body {
	    margin-top: 25px;
	    margin-left: unset;
	}

	.intro-excerpt {
	    max-width: 70%;
	}

	.hovereffect h1 {
	    font-size: 1.2rem;
	}

	header ul {
	    margin-bottom: 0;
	    padding-left: 2px;
	}


}


@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1199px)  {

	.spacer-sm-m {
	    margin: 15px 0 0;

	}


	.header-menu li {
	    margin-bottom: 0px;
	}


	.nav-link, .nav-link:hover {
	    padding: 29px 0px;
		font-size: 12px;
        margin: -4px 5px;
	}

	.active .nav-link {
	    padding: 29px 0px;
		font-size: 12px;
        margin: -4px 5px;
	}

	header.banner {
	    height: 92px;
	}

	.modal-dialog {
	    max-width: 95%;
	    margin: 1.75rem auto;
	}


	.form-body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    min-width: 165px;
	}

	.arrow_prev {
	    left: 0;
	}

	.arrow_prev {
	    left: 0;
	}

	.arrow_next {
	    right: 0;
	}

	.spacer-hack {
	    /* margin-left: 75px; */
	}

	div#gform_wrapper_3 {
	    display: inline-block;
	}


	.spacer-hack {
	    margin-left: unset;
	    padding-left: 0;
	}

	.padd-0 {
		padding: unset;
	}

	.d-block.mx-auto.form-body {
	    margin-top: 25px;
	    margin-left: unset;
	}

	.intro-excerpt {
	    max-width: 70%;
	}

	.hovereffect h1 {
	    font-size: 1.2rem;
	}

	header ul {
	    margin-bottom: 0;
	    padding-left: 2px;
	}


}


@include media-breakpoint-up(xl){
	.h1, h1 {
	    font-size: 3rem;
	}



	h1.negative-space {
     	font-size: 3.8rem;
	}

	.text-m-lg p {
		font-size: 20px;
	}


	.apartment-m .text-m-lg p {
     	margin-bottom: 3rem;
	}

	.apartment-all .text-m-lg p {
     	margin-bottom: 3rem;
	}

	.spacer-lg-l {
		padding-left:3rem;
	}

	.mspacer-lg-l {
		margin-left:3rem;

	}


	.xl-custom-right {
	   -ms-flex: 0 0 50%;
	    flex: 0 0 52%;
	    max-width: 52%;
	}

	.xl-custom-left {
	   -ms-flex: 0 0 48%;
	    flex: 0 0 48%;
	    max-width: 48%;
	}

	.selector {
		font-size: 20px;
	}

}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {


	.intro-excerpt {
	    border: 5px solid #bf9b67;
	    max-width: 95%;
	    padding: 20px;
	    margin-top: 0;
	    position: relative;
	    padding-top: 5rem;
	}

	#home-about {
	    height: auto;
	    background-color: #000;
	    color: #bf9b67;
	}

	#home-intro {
       background: none;
	}


   .mobile-full.col {
	   width: 100%
   }

   iframe.d-block.mx-auto {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.d-block.mx-auto.form-body {
	    margin-left: -0px !important;
	}

	.text-center-m {
		text-align : center !important;
	}

	footer .row.justify-content-center.align-self-center {
	    width: initial;
	}

	.spacer-hack {
		margin-left: 0px;
	}

	i.fab.fa-facebook-f.fa-lg, i.fab.fa-instagram.fa-lg{
	    margin: 15px 10px;
	}

	.border-right-v {
	    border-right: none;
	}


	.arrow_next_gal, .arrow_prev_gal {
	    top: 25%;
	}

	.arrow_next_gal {
	    right: 0;
	}

	.arrow_prev_gal {
	    left: 2%;
	}

	.galleries .min-h {
    	min-height: 250px;
    	}

	section.contact .spacer-right {
		padding-left: 15px;
		padding-right: 15px;
	}

	section.contact .row {
	    padding: 15px;
	    margin: 0;
	    padding-left: 0;
	}

	.no-m-right {
        padding-right: inherit;
	}

	section.download {
	    background-size: contain;
	}

	.files-hold {
	    max-width: 95%;
	    margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.85);
	    text-align: center;

	}

	.modal-dialog {
	    max-width: 95%;
	    margin: 1.75rem auto;
	}


	.spacer-sm-m {
		margin: $spacer-sm 0 0 0;
	}

	.arrow_next {
	    right: 0%;
	}

	.arrow_prev {
	    right: 0%;
	}

	.spacer-t-m {
		margin-top: $spacer-md;
	}



	.form-body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    min-width: 116px;
	}


	.arrow_prev {
	    left: 0;
	}

	.arrow_next {
	    right: 0;
	}

	.spacer-right-h {
	    padding-right: 0px;
	    padding-top: 0;
	}

	section.download {
	    background-size: cover;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

	.spacer-right-single{
		padding:50xpx;
	}

	.bg-right {
	    min-height: 70vh;
	}


}


@media only screen and (max-width: 1280px) {
	.overflow-border {
		padding-top:2rem;
		margin-left:-60px;
		display:inline-block;
		padding-right:2rem;
		padding-bottom:0;
	}

	.text-m-lg p {
		font-size:17px;
	}

	h1.negative-space {
		font-size:3rem;
	}

	.selector {
		font-size:17px;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
	.bg-right {
		min-height:50vh;
	}

	section.apartment-all .row {
		padding:15px;
		padding-left:15px;
	}

	.overflow-border {
		margin-left:-45px;
		padding-right:0;
		padding-top:2rem;
		padding-bottom:0;
		padding-left:20px;
		padding-right:20px;
	}

	.negative-space {
		margin-left:0;
		padding:15px;
	}

	h1.negative-space {
		font-size:2rem;
	}

	p.spacer-lg-l {
		font-size:14px;
	}

	.row-heights-m {
	    margin-top: 0.2rem;
	}

}

@media only screen
and (min-device-width : 769px)
and (max-device-width : 1024px)  {

	.bg-right {
	    min-height: 50vh;
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
 and (-webkit-min-device-pixel-ratio: 1)
  {

	.spacer-right-single{
		padding:50x;
	}

	.bg-right {
	    min-height: 70vh;
	}

	h1.negative-space {
	    font-size: 2rem;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
 and (-webkit-min-device-pixel-ratio: 1)
  {

	.spacer-right-single{
		padding:50x;
	}

	.bg-right {
	    min-height: 70vh;
	}

	h1.negative-space {
	    font-size: 2rem;
	}

}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {

	.modal .arrow_prev {
	    left: -2%;
	}

	.modal .arrow_next {
	    right: -5%;
	}

	h1.spacer-t-xl.clearfix.text-center {
	    padding-bottom: 30px;
	}

	.bg-right {
	    min-height: 50vh;
	}

	section.contact .row {
	    padding: 15px;
	    padding-left: 15px;
	}

.overflow-border {
    margin-left: -45px;
    padding-right: 0px;
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 20px;
    padding-right: 20px;}

	.negative-space {
	    margin-left: 0px;
	    padding: 15px;
	}

	h1.negative-space {
	    font-size: 2rem;
	}

	p.spacer-lg-l {
	    font-size: 14px;
	}

	.intro-excerpt {
	    border: 5px solid #bf9b67;
	    max-width: 95%;
	    padding: 20px;
	    margin-top: 0;
	    position: relative;
        padding-top: 15px;
	}

	#home-about {
	    height: auto;
	    background-color: #000;
	    color: #bf9b67;
	}

	#home-intro {
       background: none;
	}




   .mobile-full.col {
	   width: 100%
   }

   iframe.d-block.mx-auto {
	    padding-left: 16px;
	    padding-right: 16px;
	}

	.d-block.mx-auto.form-body {
	    margin-left: -0px !important;
        margin-top: -25px;
        margin-bottom: -40px;
	}

	.gform_wrapper {
		    margin: 0px 0;
		    max-width: 100%;
		}

		.gform_wrapper .gform_footer {
	    padding: 16px 0 0px;
	    margin: 16px 0 0;
	    clear: both;
	    width: 100%;
	}

	.contact-details {
	    font-size: 15px;
	}

	.embed-container {
	    max-width: 100%;
	        padding-bottom: 100%;
	}

	.text-center-m {
		text-align : center !important;
	}

	footer .row.justify-content-center.align-self-center {
	    width: initial;
	}

	.spacer-hack {
		margin-left: 0px;
	}

	i.fab.fa-facebook-f.fa-lg, i.fab.fa-instagram.fa-lg{
	    margin: 15px 10px;
	}

	.border-right-v {
	    border-right: none;
	}


	.arrow_next_gal, .arrow_prev_gal {
	    top: 25%;
	}

	.arrow_next_gal {
	    right: 0 !important;
	}

	.arrow_prev_gal {
	    left: 2% !important;
	}

	.galleries .min-h {
    	min-height: 250px;
    	}

	section.contact .spacer-right {
		padding-left: 15px;
		padding-right: 15px;
	}

	section.contact .row {
	    padding: 15px;
	    margin: 0;
	    padding-left: 0;
	}

	.map-responsive {
	    height: 50vh;
	}

	.no-m-right {
        padding-right: 0;
	}

	section.download {
	    background-size: contain;
	}

	.files-hold {
	    max-width: 95%;
	    margin: 0 auto;
	    text-align: center;
        background-color: rgba(255, 255, 255, 0.85);

	}

	.modal-dialog {
	    max-width: 95%;
	    margin: 1.75rem auto;
	}


	.spacer-sm-m {
		margin: $spacer-sm 0 0 0;
	}

	.arrow_next {
	    right: 0%;
	}

	.arrow_prev {
	    right: 0%;
	}

	.spacer-t-m {
		margin-top: $spacer-md;
	}




	.form-body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    min-width: 116px;
	}


	.arrow_prev {
	    left: 0;
	}

	.arrow_next {
	    right: 0;
	}

	.spacer-right-h {
	    padding-right: 0px;
	    padding-top: 0;
	}

	.spacer-right-single {
		padding:20px 0;
	}

	.single-gallery .arrow_next_gal, .single-gallery .arrow_prev_gal {
	    top: 45%;
	}

	section.contact .spacer-right {
	    padding: 20px;
	}

		.page-id-15 header .overlay-content {
	    top: 0%;
	}


/*
	header .m-logo img.brand-logo {
	    top: 37px;
	    padding-left: 14px;
	    max-width: 70%;
	}

*/

	.m-logo {
	    width: 85%;

/*
	    & img{
	    max-width: 70%;
	    }
*/
	}

	header .m-logo img.brand-logo {
	    position: relative;
/*
	    top: 37px;
	    padding-left: 14px;
*/
	}


	section#home-intro {
	    padding: 20px 0;
	}

	#field_3_1 label {
		display: none !important;
	}

}