// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-color: #BF9B67;
$brand-secondary-color: #000;

$text-primary: #000;
$text-light: #fff;
$text-secondary-color: #BF9B67;
$text-additional-color: #9B9DA0 ;

// Spacing :
$spacer-xl: 50px;
$spacer-lg: 30px;
$spacer-md: 25px;
$spacer-sm: 15px;
$spacer-xs: 5px;
$spacer-n: 0px;

//Fonts:
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$font-stack: 'Lato', sans-serif;

//Borders
$border: 2px solid $text-secondary-color;


@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


