footer{
    background-color: $brand-secondary-color;
    padding: $spacer-lg 0;
}

.contact-details {
	font-size: 11px;
	color:#fff;
}

.gold-bar {
	background-color: $brand-color;
	padding: 0 $spacer-sm;
	color: $text-light;
    font-size: 12px;
}

.gold-bar a {
	color:$text-light;
	text-decoration: none;
}

.footer a {
	color:$text-light;
	text-decoration: none;
}

.spacer-t-l {
	padding: $spacer-md 0;
}

footer h3 {
	font-weight: 600;
	font-size: 1.1rem;
}

footer h3 fab{
	color:#000;
	background-color:#fff;
	padding: 10px ;
	border-radius: 10px;
}

svg.svg-inline--fa.fa-instagram.fa-w-14 {
    color: #000;
    background-color: #fff;

}

svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
    color: #000;
    background-color: #fff;
/*
    font-size: 40px;
    border-radius: 10px;
    padding: 20px;
*/
}

i.fab.fa-facebook-f.fa-lg, i.fab.fa-instagram.fa-lg {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
        margin: 0 2px;
}

i.fab.fa-facebook-f.fa-lg {
    font-size: 20px;
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    margin: 0 5px 0 15px;
}

i.fab.fa-instagram.fa-lg {
    font-size: 23px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
}

.spacer-hack {
	margin-left: 75px;
}