.header-menu li {
	display:inline-block;
	float:left;
}

.header-menu li {
	display:inline-block;
	float:left;
    margin-top: 15px;
    padding: 0 5px;
    margin-bottom: -3px;
}



header.banner {
	background-color: #000;
    color: #fff;
    height: 100px;
}


.nav-link {
	padding: 29px 7px;
    color: #bf9b67;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 7px solid #000;
    margin: 0 5px;
}

.header-menu{
	display: inline-block;
	width: 100%;
}

.row.justify-content-center.align-self-center {
    width: 100%;
}

header ul {
    margin-bottom: 0;
    padding-left: 10px;
}

.brand-logo {

}


.active .nav-link {
    display: block;
    padding: 29px 7px;
    color: #bf9b67;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 7px solid #bf9b67;
    margin: 0 5px;
}

.nav-link:hover {
    display: block;
    padding: 29px 7px;
    color: #bf9b67;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 7px solid #bf9b67;
    margin: 0 5px;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   transition:.5s;
}



header {

	& .overlay {
	    height: 0%;
	    width: 100%;
	    position: fixed;
	    z-index: 100;
	    top: 0;
	    left: 0;
	    background-color: rgb(0,0,0);
	    background-color: rgba(0,0,0, 0.9);
	    overflow-y: hidden;
	    transition: 0.5s;
	}

	& .overlay-content {
	    position: relative;
	    top: 12%;
	    width: 100%;
	    text-align: center;
	    margin-top: 30px;
	}

	& .overlay a {
	    padding: 8px;
	    text-decoration: none;
	    font-size: 36px;
	    color: #bf9b67;
	    display: block;
	    transition: 0.3s;
	}


	& .overlay li a {
	    color: #bf9b67;
	    display: block;
	    width:100%;
	    font-size: 30px;
	}

	& .overlay .active .nav-link {
	    display: block;
	   padding: 20px 10px;
	    color: #bf9b67;
	    text-transform: uppercase;
	      font-size: 30px;
	    border-bottom: none;
	    margin: 0 5px;
	}


	& .overlay .active .nav-link {
	    display: block;
	   padding: 20px 10px;
	    color: #f1f1f1;
	    text-transform: uppercase;
	      font-size: 30px;
	    border-bottom: none;
	    margin: 0 5px;
	}


	& .overlay .nav-link {
	    border-bottom: none;
	}

	& .overlay .header-menu li {
	    width:100%;
	    margin:0 auto;
	}

	& .overlay a:hover, .overlay a:focus {
	    color: #f1f1f1;
	    font-size: 30px;
	}

	& .overlay .closebtn {
	    position: absolute;
	    top: -5px;
	    right: 15px;
	    font-size: 60px;
	}

	& .menu_open {
		/*
	    font-size: 50px;
	    cursor: pointer;
	    margin-top: 10px;
	    color: #bf9b67;
	    right: -45px;
	    position: relative;
	    top: 10px;
		*/

/*
	    font-size: 40px;
	    cursor: pointer;
	    margin-top: initial;
	    color: #bf9b67;
	    right: -45px;
	    position: relative;
	    top: 17px;
*/

	    font-size: 40px;
	    cursor: pointer;
	    margin-top: 0;
	    color: #bf9b67;
	    right: -25px;
	    position: relative;
	    top: 0px;
	    float: right;


	}


	& .overlay a:hover, .overlay a:focus {
	    color: #f1f1f1;
	}

}

img.brand-logo {
    max-width: 100%;
    padding-top: 15px;
}

@media screen and (max-height: 450px) {
 header .overlay {overflow-y: auto;}
  header .overlay a {font-size: 20px}
  header .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

