.wrap.container {
    min-height: 60vh;
}

section {
	padding: $spacer-xl 0 ;
}

section.slider {
	padding: $spacer-n 0;
}

section.map {
//     height: 60vh;
    padding: $spacer-n 0;
}

section.gallery {
//     height: 60vh;
    padding: $spacer-n 0;
}


section.galleries {
	min-height: 70vh;
}


section.galleries {
//     height: 80vh;
}

.galleries .min-h {
    min-height: 500px;
}

section.download {
       min-height: 80vh;
    background-image: url('http://mustard.studio/avalonweb/wp-content/uploads/2018/06/download_bg.png');
    background-size:cover ;
}

#home-intro {
	background-image: url('http://mustard.studio/avalonweb/wp-content/uploads/2018/06/ICON.png');
    background-position-x: -100px;
    background-position-y: -90px;
    background-repeat: no-repeat;
}

.intro-excerpt {
	border: 5px solid $brand-color;
	max-width: 60%;
	 padding: 3rem;
    margin-top: -10%;
    position: relative;
    padding-top: 5rem;

}
.content-hold {
    margin-top: 30px;
}

.content-hold p{
    font-size: 14px;
    line-height: 26px;
}

.address-holder p {
    font-size: 14px;
    line-height: 27px;
}

.border-right-v {
    border-right: 6px solid $brand-color;
	padding: $spacer-lg 0;
}

.spacer-right-h {
	padding-right: 5%;
}

.spacer-left-h {
	padding-left: 5%;
}

section.contact {

 &  .spacer-right {
	    padding-left: 10%;
	    padding-right: 0%;
	}

}

.min-h {
	min-height: 550px;
}

.files-hold {
	background-color: #fff;
	padding:30px;
}


.map-responsive{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
section.contact {
	padding: 0;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

section.contact .spacer-right {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
   padding: 50px;
}

.no-m-right {
	padding-right:0;
}

.h-100 {
	height:100vh
}

.form-hold {
    margin-top: 0px;
}

.contact-hold .gform_wrapper {
    margin-bottom: 0 !important;
}

.contact-hold .row {
    margin-left: 0px;
    margin-right: 0px;
}

.contact-hold .gform_wrapper {
    margin: 0px 0 !important;
    max-width: 100%;
}

.form-hold p {
    font-size: 16px;
//     margin-top: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 0px;
}


section.apartment-m {
	padding:0;
}

.apartment-m .bg-right {
	background-image:url(http://mustard.studio/avalonweb/wp-content/uploads/2018/07/bg-image.png);
	background-size:cover;
	min-height:85vh;
}

.no-m-a {
	margin:0;
	background-size:cover;
}

.overflow-border {
	border:6px solid #bf9b67;
}

.overflow-border {
	padding-top:4rem;
	border:6px solid #bf9b67;
	margin-left:-60px;
	display:inline-block;
	padding-right:5rem;
	padding-bottom:2rem;
}

.gold-text {
	color:#bf9b67;
}

.negative-space {
	margin-left:6rem;
}

.row-heights-m {
    margin-top: 3.2rem;
}


section.apartment-all {
	padding:0;
}

.bg-right {
	background-image:url(http://mustard.studio/avalonweb/wp-content/uploads/2018/07/all_aprtments.png);
	background-size:cover;
	min-height:85vh;
}

.no-m-a {
	margin:0;
	background-size:cover;
}

.overflow-border {
	border:6px solid #bf9b67;
}

.overflow-border {
	padding-top:3rem;
	border:6px solid #bf9b67;
	margin-left:-60px;
	display:inline-block;
	padding-right:5rem;
	padding-bottom:1rem;
}

.selector a{
	color:#000;
}

.gold-text {
	color:#bf9b67;
}

.negative-space {
	margin-left:6rem;
}

.selector {
	padding:3px 0;
}

.row-heights-m {
    margin-top: 3.2rem;
}


.galleries .overlay a.btn.btn-default {
	font-weight: bold;
	border: none;
	padding: 7px 25px;
	font-size: 17px;
	margin-top: 5px;
}

.galleries .overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-h {
    height: 75px;
}

.title-h-mid {
    height: 40px;

}

@media only screen and (max-width: 1280px) {
	.overflow-border {
		padding-top:2rem;
		padding-right:2rem;
		padding-bottom:0;
	}

	.text-m-lg p {
		font-size:17px;
	}

	h1.negative-space {
		font-size:3rem;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
	.bg-right {
		min-height:50vh;
	}

	section.apartment-m .row {
		padding:15px;
		padding-left:15px;
	}

	.overflow-border {
		margin-left:-45px;
		padding-right:0;
		padding-top:2rem;
		padding-bottom:0;
		padding-left:20px;
		padding-right:20px;
	}

	.negative-space {
		margin-left:0;
		padding:15px;
	}

	h1.negative-space {
		font-size:2rem;
	}

	p.spacer-lg-l {
		font-size:14px;
	}

	.row-heights-m {
	    margin-top: 0.2rem;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
 and (-webkit-min-device-pixel-ratio: 1) {

	.bg-right {
	    min-height: 50vh;
	}
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
 and (-webkit-min-device-pixel-ratio: 1)
  {

	.spacer-right-single{
		padding:50x;
	}

	.bg-right {
	    min-height: 70vh;
	}

	h1.negative-space {
	    font-size: 2rem;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
 and (-webkit-min-device-pixel-ratio: 1)
  {

	.spacer-right-single{
		padding:50x;
	}

	.bg-right {
	    min-height: 70vh;
	}

	h1.negative-space {
	    font-size: 2rem;
	}

}

// ???